@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chirp";
  src: url("./fonts/Chirp-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.custom-li {
  @apply w-fit h-10 text-lg font-bold m-2 flex items-center gap-4 rounded-xl p-3;
}

.custom-li:hover {
  transition: background-color 0.4s ease;
  @apply bg-Dark7;
  cursor: pointer;
}

.no-hover:hover {
  @apply bg-inherit text-inherit;
}

.tweet-btn {
  @apply h-[49px] w-[225px] text-[1.2rem] text-white;
}

.sidebar-nav {
  @apply inline-flex flex-col items-start bg-white h-[800px];
}

.post-btn {
  @apply bg-Primary-Blue text-white font-bold rounded-full px-3 py-2 h-10 w-20 text-center flex justify-center hover:bg-custom-blue-hover focus:outline-none active:bg-[#0B68A2];
}

.post-btn:hover {
  background-color: #1875d0;
  cursor: pointer;
}

.post-btn:active {
  background-color: #0b68a2;
}

.post-btn:focus {
  outline: none;
}

.profile-stats {
  @apply flex justify-between;
}

.font-chirp {
  font-family: "Chirp", sans-serif;
}

.body {
  @apply grid grid-cols-[23%_48%_28%] grid-rows-1 bg-white w-auto h-fit;
}

input::placeholder {
  @apply text-base text-black;
}

.section-1 {
  @apply bg-white;
}

.section-3 {
  @apply bg-white flex flex-col gap-2.5 border-l border-Dark7 h-auto;
}

.custom-input {
  @apply rounded-md;
}

.required::after {
  content: " *";
  color: red;
}

.gradient-hover {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}

.gradient-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #00f0ff, #ff00c8, #00f0ff);
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.gradient-hover:hover::before {
  opacity: 0.3;
}

.gradient-hover:hover .icon {
  color: #00e0ff;
  transform: scale(1.15) rotate(2deg);
  filter: drop-shadow(0 0 8px #00e0ff);
}

.gradient-hover:hover .text {
  color: #00e0ff;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.home-sidebar {
  width: 20%;
}

.home-feed {
  flex: 1;
}

.home-right-menu {
  width: 20%;
}
