@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-li {
    @apply w-fit h-10;
    font-size: 19px;
    margin: 10px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-radius: 12px;
    padding: 10px;
    align-items: center;


}

.custom-li:hover {
    transition: background-color 0.4s ease;
    background-color: #EBEEF0;
    cursor: pointer;

}

.no-hover:hover {
    background-color: inherit;
    color: inherit;
}

.tweet-btn {
    height: 49px;
    width: 225px;
    font-size: 19px;
    color: white;
}

.sidebar-nav {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
}

.post-btn {
    background-color: #1DA1F2;
    border-radius: 25px;;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px ;
    padding-bottom: 8px;
    height: 39px;
    width: 77px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.post-btn:hover {
    background-color: #1875D0;
    cursor: pointer;
}

.post-btn:active {
    background-color: #0B68A2;
}

.post-btn:focus {
    outline: none
}

.search-field{
    display: block;
    width: '100%';
    padding: '16px';

}

.profile-stats{
    display: flex;
    justify-content: space-between;
}